
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2,h3,h4,h5,h5,p{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 100vw;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.bg, .mountains{
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    object-fit: cover;
    position: absolute;
    -webkit-filter: blur(2px);
    filter: blur(2px);
}
/* .bg{
    -webkit-filter: blur(4px);
    filter: blur(4px);
} */

.pose-1{
    position: absolute;
    bottom:-1px;
    height: 60%;
    margin-right: 35px;
    -webkit-filter: blur(.5px);
    filter: blur(.5px);
}

.container-2{
    background:#ffffff;
    position: relative;
    width: 100%;
}
.banner{
    z-index:1;
    font-size: 1.6em;
}
h1{
font-family: 'Anton', sans-serif;
letter-spacing: 2.5px;
}
.banner h1{

    color:#ffffff;
}
.banner{
    position:relative;
    width: 100%;
    text-align: center;
    top: 20%;
}

  
  .first-message {
     position:absolute;
     animation: rotate-1 12s ease-in-out infinite;
     top: -10px;
    left:0;
    right:0;
    margin:auto;
  
  }
  
  .second-message {
    position:absolute;
    animation: rotate-2 12s ease-in-out infinite backwards;
    top: -10px;
    left:0;
    right:0;
    margin:auto;
  }
  
  @keyframes rotate-1 {
    0% { opacity: 0; top:-10px;}
    10% { opacity: 1; top:0px;}
    45% { opacity: 1; top:0px; }
    50% { opacity: 0; top: 10px; }
    100% { opacity: 0; }
  }
  
  @keyframes rotate-2 {
    0% { opacity: 0; }
    50% { opacity: 0; top:-10px; }
    55% { opacity: 1; top: 0px;}
    95% { opacity: 1; top: 0px; }
    100% { opacity: 0; top: 10px; }
  }
  
.title{
    margin: 0 0 0 30px;
    padding: 50px 0;
    font-size: 1.2rem;
}
  
.head{
    z-index: 1;
    width: 100%;
}
.head nav{
    display: flex;
    list-style: none;
    font-size: 1.5rem;
}
.head ul{
 display: flex;
 list-style: none;
 font-size:1.5rem;
}
.head ul li{
    margin: 15px;
}

.container-3{
    height: 400px;
    background: black;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-wrapper{
    flex:0 1 250px;
    margin: 10px;
    min-height: 300px;
}
.card{
    width: 100%;
    height: 100%;  
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 50px #c4c4c4;
}
.flip{
    transform: rotateX(180deg);
}
.front {
    background-size:cover;
    background-position: center;
    cursor: pointer;
    -webkit-filter: grayscale(90%) brightness(70%);
    filter: grayscale(90%) brightness(70%);
    transition: 300ms ease-in;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.front:hover{
    -webkit-filter: grayscale(20%) ;
    filter: grayscale(20%) ;
}
/* .card:hover .back{
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
} */
.card-1 .front{
    background-image:url(https://source.unsplash.com/nCya9c9AadA);
}

.card-2 .front{
    background-image:url(https://source.unsplash.com/d0iASNy8p50);
}
.card-3 .front{
    background-image:url(https://source.unsplash.com/pa_McjjynOA);

}
.back{
    width: 100%;
    height: 100%;
    background: linear-gradient(pink, rgb(168, 235, 255), lavender);
    /* transform: rotateY(180deg); */
    /* -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg); */
  
}
